<h1>Word Puzzle Game!</h1>
<div ="container">
  <h2>$outPut</h2>
  If you're really struggling, reveal a hint below.
  <div class="bs-example">
      <p>
        <a class="btn btn-primary" role="but ton" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
      </p>
    </div>
    <p>
      <a href="/">want to go again?</a>
    </p>
</div>
